<% provide(:title, "关于我们") %>
<div class="row">
  <div class="span4 offset4 hero-unit">
    <h3>
      <em>关于我们</em>
    </h3>
    <p>
      <em>我们是北京市十一学校WHOISHOTTER网页制作团队。</em>
    </p>
    <p>
      <em>这个网站提供众多图片，提供对比，统计得票率。每月会公布最HOT的男神女神。</em>
    </p>
    <p>
      <em>本网站始建于2013年。创作团队在科技楼艰苦奋战，只为给大家呈现出最精彩的图片和最舒适的用户体验。</em>
    </p>
    <p>
      <em>此网站为免费网站。谨防盗版网站！</em>
    </p>
    <p>
      <em>本网站图片均为注册用户个人上传，本网站不负任何法律责任。</em>
    </p>
    <p>
      <em>意见投诉电话：010-22222222</em>
    </p>
  </div>
</div>