<% provide(:title, "意见反馈") %>
<div class="row">
  <div class="span4 offset4">
    <form>
      <fieldset>
        <legend>用户意见反馈</legend> <label>若对本网站有任何意见，请填写下面表格。</label><input type="text" /> <span class="help-block">让我们一起努力，共建完美WHOISHOTTER</span><button class="btn" type="submit">提交</button>
      </fieldset>
    </form>
  </div>
</div>