<% provide :title, "帮助" %>
<div class="row">
  <div class="span8 offset2 hero-unit">
    <h1>
      <strong>帮助</strong>
    </h1>
    <h3>
      新手入门
    </h3>
    <p>
      一、网站简介
    </p>
    <p>
      每个人的心中都有各自的女神或者男神。本网站为广大客户提供一个平台来分享和比较自己心目中的男/女神。
    </p>
    <p>
      二、客户须知
    </p>
    <p>
      本网站仅支持会员上传照片，并能在“个人中心”中可以查看自己上传照片的“胜率”。游客仅支持浏览和投票。严禁上传任何血腥、暴力、低俗、未经他人许可，一经查出立即封号。
    </p>
    <h3>
      基础教程
    </h3>
    <p>
      一、注册
    </p>
    <p>
      点击右上角“注册”按钮。根据提示完成内容。
    </p>
    <p>
      二、上传图片
    </p>
    <p>
      登陆账户，进入个人中心，点击“上传”按钮，进行上传。
    </p>
    <p>
      三、删除照片
    </p>
    <p>
      照片可由上传用户在个人中心进行删除。
    </p>
    <p>
      四、申诉照片
    </p>
    <p>
      其他用户可以向管理员进行投诉，管理员将会在一周以内予以答复。若申诉合理，将对照片上传者进行惩罚，若申诉不合理，则减少用户申诉机会（每个用户一个月可进行五次申诉）。
    </p>
    <h3>
      功能介绍
    </h3>
    <p>
      一、TOP10
    </p>
    <p>
      每周一我们将公布上一周内，获胜率前十位的TOP GIRLS和TOP GUYS。
    </p>
    <p>
      正在建设中
    </p>
  </div>
</div>
