<% provide(:title, "主页") %>
<div class="center hero-unit">
  <h1>欢迎来到Who Is Hotter!</h1>
  <h2>这里是为了你心目中最火热的女神、男神投票的地方！</h2>
</div>

<div class="center hero-unit">
  <h3>现在就开始投票吧！</h3>
  <div class="row">
    <div class="span4">
      <a href="#" class="btn btn-info"><h3>女神</h3></a>
    </div>
    <div class="span4 offset2">
      <a href="#" class="btn btn-success"><h3>男神</h3></a>
    </div>
  </div>
</div>
