<% provide(:title, "主页") %>
<div class="center hero-unit">
  <h1>欢迎来到Who Is Hotter!</h1>
  <h2>这里是为了你心目中最火热的女神、男神投票的地方！</h2>
</div>

<div class="center hero-unit">
  <h2>现在就开始投票吧！</h2>
  <div class="row">
    <div class="span4">
      <%= link_to show_path(:girl), class: "btn btn-info" do %>
        <h3>女神</h3>
      <% end %>
    </div>
    <div class="span4 offset2">
      <%= link_to show_path(:boy), class: "btn btn-info" do %>
        <h3>男神</h3>
      <% end %>
    </div>
  </div>
</div>
