<%= render "shared/topbar" %>
    <div id="firstslide">
      <div class="row">
        <div class="large-8 offset-1 columns">
          <h2>
            <%= t('home.desc.subtitle1') %>
          </h2>
          <h1>
            <%= t('home.desc.title1_1') %>
            <span class="font-effect-fire-animation">
              <%= t('home.desc.title1_2') %>
            </span>
          </h1>
        </div>
      </div>
   </div>
</div>
