// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

@keyframes shine
{
  0%   {box-shadow: 0 0 10px #bbb;}
  25%  {box-shadow: 0 0 10px $yellow;}
  50%  {box-shadow: 0 0 10px $blue;}
  100% {box-shadow: 0 0 10px #bbb;}
}

@-webkit-keyframes shine /* Safari and Chrome */
{
  0%   {-webkit-box-shadow: 0 0 10px #bbb;}
  25%  {-webkit-box-shadow: 0 0 10px $yellow;}
  50%  {-webkit-box-shadow: 0 0 10px $blue;}
  100% {-webkit-box-shadow: 0 0 10px #bbb;}
}

@mixin rounded-shine ($animation,$radius:10px) {
  /* -webkit-animation-name: $animation; 
//  -webkit-animation-duration: 3s;
//  -webkit-animation-iteration-count: infinite; 
//  animation-name: $animation; 
//  animation-duration: 3s;
//  animation-iteration-count: infinite; */
  border-radius: $radius;
}

.span4 img {
  @include rounded-shine(shine)
}
