<div class="row">
<% @inspect_images.each do |img| %>
  <div class="span4">
    <%= image_tag img.img.url :medium %>
    <%= link_to '通过', [img], method: :exmine, controller: :images %>
    <%= link_to '删除', [img], method: :delete, controller: :images %>
  </div>
<% end %>
</div>
