<footer class="footer">
  <small>
    Copyright &copy; 2013 BNDS Web Design Class.
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于", about_path %></li>
      <li><%= link_to "帮助", help_path %></li>
      <li><%= link_to "反馈", feedback_path %></li>
    </ul>
  </nav>
</footer>
